body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #f7eaf2 !important;
  font-weight: 600;
  height: 50px !important;
  padding: 10px !important;
  position: sticky;
  top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-icons {
  font-size: 17px;
  color: #ddaacc;
  vertical-align: middle;
}

.intro {
  background-image: url(img/bg4.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-h1 {
  font-weight: 700;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 80px;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.container-intro {
  margin: 150px 0px 0px 40px;
}

.intro-p {
  font-family: "Varela Round", sans-serif;
  color: #644258;
  text-shadow:
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
}

.button-intro {
  width: 180px;
  padding: 15px;
  font-family: "Varela Round", sans-serif;
  border-radius: 40px;
  font-weight: 700;
}

.button-intro:hover {
  color: white !important;
  background-color: #644258 !important;
}

.button-intro:active {
  color: #644258 !important;
  background-color: #ddaacc !important;
}

.intro-h2 {
  color: #afbdbb;
  text-shadow:
    -1px -1px 0 #525958,
    1px -1px 0 #525958,
    -1px 1px 0 #525958,
    1px 1px 0 #525958;
  font-family: "Belanosima", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.p-intro-2 {
  letter-spacing: 4px;
  font-size: 10px;
}

.head-2 {
  color: #ddaacc;
  font-size: 50px;
  text-shadow:
    -1px -1px 0 #525958,
    1px -1px 0 #525958,
    -1px 1px 0 #525958,
    1px 1px 0 #525958;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.p-info {
  font-size: 18px;
}

.c-about {
  border: 0.5px solid lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.h5-info {
  color: #ddaacc;
  text-shadow:
    -0.2px -0.2px 0 #525958,
    0.2px -0.2px 0 #525958,
    -0.2px 0.2px 0 #525958,
    0.2px 0.2px 0 #525958;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.p-about {
  color: #afbdbb;
  font-weight: 600;
}

.banner {
  margin-top: -160px;
}

.skill-h5 {
  font-family: "Varela Round", sans-serif;
  color: #ddaacc;
  font-weight: 900;
}

.progress-bar {
  background-color: #afbdbb;
}

.about-badge {
  border: 0.5px solid lightgray;
  color: #ddaacc;
}

input,
textarea {
  border: 0.5px solid lightgray;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.c-contact {
  border: 0.5px solid lightgray;
  padding: 30px;
  border-radius: 10px;
}

.send-message {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 60px;
  background-color: #ddaacc;
  color: white;
}

.send-message:hover {
  background-color: #644258;
}

.send-message:active {
  background-color: white;
  color: #525958;
}

.btn-socials {
  border: 0.5px solid lightgray;
  width: 100%;
  text-align: left;
  padding: 15px;
}

.social-icons {
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

.social-head {
  font-weight: 700;
  color: #ddaacc;
}
.social-p {
  color: #afbdbb;
  font-weight: 600;
  font-size: 14px;
  margin-top: -18px;
}

.contact-p {
  font-size: 14px;
  color: darkslategray;
}

.artwork {
  border: 10px solid #afbdbb;
  border-radius: 5px;
}
